<div id="footer" class="panel">
  <div class="panel-footer">
	<div class="container-fluid">
	  <div class="row">
		<div class="col-sm-4">
		  
		  <p>PLAGA stands for PLanets, Accretion and Galactic centre Astrophysics</p>
		  <p>&copy 2020 PLAGA group. Site based on <a href="http://www.allanlab.org/">Allan Lab's</a>;  <a href="http://www.allanlab.org/aboutwebsite.html">copy and  modify it for your own research group</a>.</p>
            

		   <p>  </p><p>
            		  
            
		</div>

		<div class="col-sm-4">
		  Edificio F
		  <br /> Universidad Adolfo Ibañez <br /> Av. Padre
		  Hurtado 750 <br /> Viña del Mar <br /> Chile <br />
		  (<a href="https://goo.gl/maps/zLiTeUH3Ryt1fc669">Maps</a>, <a href="https://www.uai.cl/campus-uai/campus-vina-del-mar/">Directions</a>)
		  <p>  </p><p>
		</div>

		<div class="col-sm-4">
		  Campus San Joaquín <br />
		  Pontificia Universidad Católica de Chile <br />
		  Av. Vicuña Mackenna 4860 <br />
		  Macul, Santiago.<br />
		  Chile <br />
            (<a href="https://goo.gl/maps/TWow3dnR4Da33ExJA">Maps</a>, <a href="http://astro.uc.cl/contacto">Directions</a>)		</div>


		
	  </div>
	</div>
  </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
